<h2> About the Site </h2>

This site is for generating college football point spreads for the entire season.
You enter your power rankings (PRs) and home field advantages (HFAs) and we generate the lines for you.  If you would like, you can then adjust from the spread we generate and make your own spread.  You also have the ability to enter and save totals.

<h2> What's a Power Ranking? </h2>

Many gamblers create Power Rankings for each team as a way of quantifying how much better one team is than another.  A common method is to rank the top team as 100 and then slot all of the other teams lower according to how many points the top team would be favored by.  So if you think the top team is Nebraska (maybe you took a time machine to the mid 90s), you would rank them 100.  If you think they should be favored by 2.5 over your second best team, you would rank that second team 97.5.  Here's an example of one set from <a href="http://linemakers.sportingnews.com/power-ratings?rating-sport=ncaaf"> The Sporting News </a>.

<h2> What's a Home Field Advantage? </h2>

Teams generally perform better at home.  If two teams are even, the home team will obviously be favored.  The amount that they are favored is approximately going to be their HFA.  A team like LSU is going to have a much higher HFA than a team like Florida Atlantic.  Here's an example of an old set from my buddy, <a href="http://www.cappingthegame.com/forum/showthread.php?59814-my-home-field-advantage-numbers"> VegasKyle </a>.

<h2> Using the Site </h2>

You can enter PRs, HFAs and notes on each team's profile page.  You can also edit right from the PR and HFA page by clicking any number, typing your number, and hitting enter.  You can also edit your own spreads and totals in the same manner.

<h2> Contact Me </h2>

Feedback, suggestions, bugs?  Email me at <a href="mailto:markmohr15@gmail.com" target="_top"> markmohr15@gmail.com</a>
