<br/>
<form name="Converter">
  Spread
  <input type="number" name="INPUT" id="INPUT">
  <a href="#" class="calculate">Calculate</a>
  <br/>
  Moneyline
  <input type="text" name="OUTPUT" id="OUTPUT">
</form>


