<br/>
<form name="Converter">
Spread
<input type="number" name="INPUT" id="INPUT">
<a href="#" class="calculate">Calculate</a>
<br/>
Moneyline
<input type="text" name="OUTPUT" id="OUTPUT">
</form>

<table>
  <thead>
    <tr>
      <th>Spread</th>
      <th># of Games</th>
      <th>Win Percentage</th>
      <th> ML </th>
    </tr>
  </thead>
<tbody>
  <% (-42..-1).step(0.5) do |spread| %>
  <tr>
  <td> <%= spread %> </td>
  <td> <%= @historicals.where(spread: spread).count + @historicals.where(spread: spread*-1).count %> </td>
  <td> <%= Historical.win_percentage(spread) %> </td>
  <td> <% if @historicals.where(spread: spread).count > 0 %>
        <%= Historical.moneyline(Historical.win_percentage(spread)) %>
       <% else %>
        Can't Display
       <% end %> </td>
  </tr>
<% end %>
</tbody>
</table>


