/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-tablesorter/theme.blue
 *= require_tree .
 */

div.tablesorter-header-inner {
    text-decoration: underline;
    background-color: White;
}

table {
  td {padding: 2px 20px 2px 20px;}
  border-spacing: 6px;
}

th.tablesorter-header.tablesorter-headerDesc {
width: 150px;
}

h2 {
  text-align: center;
}

.left {
  width: 400px;
  margin: auto;
  float: left;

  label {
    display: inline-block;
    width: 150px;
    padding-bottom: 10px;
  }

  input {
    float: right;
    margin-right: 175px;
    width: 50px;
    font-size: 12px;
  }

  input[type="submit"] {
    font-family:Times New Roman;
    font-size:15px;
    font-weight:bold;
    height:50px;
    line-height:50px;
    width:220px;
    text-align:center;
    float: left;
    float: right;
    margin-top: 20px;
  }
}

.right {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

a:-webkit-any-link {
  color: blue;
}

a, a:visited{
  color:blue;
}
